
@font-face {
    src: url('../fonts/PressStart2P.ttf');
}

@font-face {
    src: url('../fonts/Neoneon.otf');
}

#mainRoot{
    -fx-background-image: url("../images/mainBg.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: cover;
    -fx-background-position: center center; 
}

#greyButton{
	-fx-padding: 10.0 22.0 20.0 22.0;
    -fx-background-insets: 0.0,0.0 0.0 5.0 0.0, 0.0 0.0 6.0 0.0, 0.0 0.0 7.0 0.0;
    -fx-background-radius: 24.0;
    -fx-background-color: 
        linear-gradient(from 0.0% 93.0% to 0.0% 100.0%, #333333 0.0%, #222222 100.0%),
        #555555,
        #444444,
        radial-gradient(center 50.0% 50.0%, radius 100.0%, #666666, #333333);
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.25) , 4.0,0.0,0.0,1.0 );
    -fx-font-weight: normal;
    -fx-font-size: 1em;
    -fx-alignment: center;
}

#greyButton:pressed {
    -fx-padding: 14.0 22.0 16.0 22.0;
    -fx-background-insets: 2.0 0.0 0.0 0.0,2.0 0.0 3.0 0.0, 2.0 0.0 4.0 0.0, 2.0 0.0 5.0 0.0;
}

#greyButton .text {
    -fx-fill: white;
    -fx-font-family: 'sans-serif';
}

#SnakeCanvas {
    -fx-background-color: rgb(157, 201, 2);
}